body {
  margin: 0;
  padding: 0; }

* {
  font-family: sans-serif;
  list-style: none;
  text-decoration: none; }
  * :lang(fr) [data-fr] {
    display: block; }
  * :lang(fr) [data-ar] {
    display: none; }
  * :lang(ar) [data-ar] {
    display: block;
    direction: rtl; }
  * :lang(ar) [data-fr] {
    display: none; }

.HeroHeader .HeroHeader_ContenantMenu {
  background-image: url("pic/Navigation\ Bar\ 5.png");
  display: flex;
  padding: 10px;
  justify-content: space-between; }
  .HeroHeader .HeroHeader_ContenantMenu nav {
    margin-top: 20px; }
    .HeroHeader .HeroHeader_ContenantMenu nav ul {
      display: flex;
      list-style: none;
      font-style: none;
      align-items: baseline; }
      .HeroHeader .HeroHeader_ContenantMenu nav ul .arabic {
        padding: 0 20px; }
        .HeroHeader .HeroHeader_ContenantMenu nav ul .arabic button {
          padding: 5px 20px;
          border: 1.5px solid #0d77ac;
          border-radius: 10px;
          background: none; }
        .HeroHeader .HeroHeader_ContenantMenu nav ul .arabic i {
          color: gold;
          font-size: 20px; }
      .HeroHeader .HeroHeader_ContenantMenu nav ul li {
        cursor: pointer;
        position: relative; }
        .HeroHeader .HeroHeader_ContenantMenu nav ul li a {
          text-decoration: none;
          padding: 4vw 1vw;
          font-size: 1.7Em; }
          @media (max-width: 600px) {
            .HeroHeader .HeroHeader_ContenantMenu nav ul li a {
              padding: 2vw 1vw;
              font-size: 1Em; } }

.HeroHeader .HeroHeader_WarningInfo {
  background-color: #f4cf1b;
  margin-top: -22px;
  text-align: center;
  line-height: 1.8; }
  .HeroHeader .HeroHeader_WarningInfo p {
    color: #0d77ac;
    max-width: 40vw;
    margin: auto;
    font-weight: bold;
    font-size: 0.8em; }
    @media (max-width: 600px) {
      .HeroHeader .HeroHeader_WarningInfo p {
        max-width: 90vw; } }

.HeroHeader .HeroHeader_Illustration {
  display: flex;
  text-align: center;
  font-weight: bold; }
  @media (max-width: 600px) {
    .HeroHeader .HeroHeader_Illustration {
      display: block;
      text-align: center; } }
  .HeroHeader .HeroHeader_Illustration img {
    width: 50%; }
    @media (max-width: 600px) {
      .HeroHeader .HeroHeader_Illustration img {
        width: 80%; } }
  .HeroHeader .HeroHeader_Illustration .HeroHeader_Illustration--text {
    margin-top: 55px;
    width: 50%; }
    @media (max-width: 600px) {
      .HeroHeader .HeroHeader_Illustration .HeroHeader_Illustration--text {
        width: 100%; } }
    .HeroHeader .HeroHeader_Illustration .HeroHeader_Illustration--text img {
      width: 14%; }
    .HeroHeader .HeroHeader_Illustration .HeroHeader_Illustration--text h1 {
      color: #0d77ac; }
    .HeroHeader .HeroHeader_Illustration .HeroHeader_Illustration--text p {
      font-size: 2.3vw; }
    .HeroHeader .HeroHeader_Illustration .HeroHeader_Illustration--text button {
      background-color: #0d77ac;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 2.5vw;
      color: white;
      width: 60%;
      margin: 10px auto;
      min-width: 200px; }

.Symptomes {
  padding: 40px 0;
  text-align: center; }
  .Symptomes h1 {
    color: #0d77ac;
    font-size: 3vw; }
  .Symptomes .Symptomes_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .Symptomes .Symptomes_section div {
      padding: 0 5vw; }
      @media (max-width: 600px) {
        .Symptomes .Symptomes_section div {
          padding: 0; } }
    .Symptomes .Symptomes_section p {
      font-weight: bold;
      color: #0d77ac; }
    .Symptomes .Symptomes_section img {
      padding: 0; }

.Informations {
  background-color: #96c5dc;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  text-align: center; }
  @media (max-width: 600px) {
    .Informations {
      display: block; } }
  .Informations .Informations_link, .Informations .Informations_button {
    padding: 20px 20px;
    background-color: #0d77ac;
    border-radius: 5px;
    margin: auto; }
    @media (max-width: 600px) {
      .Informations .Informations_link, .Informations .Informations_button {
        width: 36%;
        min-width: 200px;
        margin-bottom: 20px; } }
    .Informations .Informations_link a, .Informations .Informations_button a {
      color: white; }
  .Informations .Informations_text {
    color: #0d77ac;
    font-size: 2vw;
    line-height: 40px;
    margin: auto; }

.Recommandations {
  background-color: #0d77ac; }
  .Recommandations h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3vw;
    padding-top: 30px; }
  .Recommandations .Recommandations_contnt {
    display: flex;
    margin: 0 30px;
    padding-bottom: 10px;
    justify-content: space-between; }
    @media (max-width: 600px) {
      .Recommandations .Recommandations_contnt {
        display: block;
        text-align: center; } }
    .Recommandations .Recommandations_contnt .Recommandations_contnt-text, .Recommandations .Recommandations_contnt .Recommandations_contnt-Apple {
      font-size: 2vw;
      font-weight: bold;
      padding: 20px;
      line-height: 1.8;
      color: white; }
      @media (max-width: 600px) {
        .Recommandations .Recommandations_contnt .Recommandations_contnt-text, .Recommandations .Recommandations_contnt .Recommandations_contnt-Apple {
          padding: 0px; } }
    .Recommandations .Recommandations_contnt .Recommandations_contnt-Apple {
      text-align: center; }
      .Recommandations .Recommandations_contnt .Recommandations_contnt-Apple #apple {
        color: #f4cf1b;
        font-size: 2.5vw; }
      .Recommandations .Recommandations_contnt .Recommandations_contnt-Apple #number {
        background-color: #f4cf1b;
        padding: 20px 50px;
        border-radius: 10px;
        font-size: 2.5vw;
        color: #0d77ac; }
        @media (max-width: 600px) {
          .Recommandations .Recommandations_contnt .Recommandations_contnt-Apple #number {
            width: 20%;
            margin: auto; } }
      .Recommandations .Recommandations_contnt .Recommandations_contnt-Apple a {
        color: white; }

.HeroFooter {
  font-weight: bold; }
  .HeroFooter_test {
    background-color: #96c5dc;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around; }
    .HeroFooter_test p {
      font-size: 1.8vw;
      color: #0d77ac; }
    .HeroFooter_test img {
      margin: 10px auto;
      width: 6%; }
    .HeroFooter_test .test--Button {
      background-color: #0d77ac;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 2.5vw;
      color: white;
      width: 30%;
      margin: 10px auto; }
  .HeroFooter .HeroFooter_footer {
    margin: 40px;
    text-align: center; }
    .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 700px) {
        .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt {
          display: block; } }
      .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt-list {
        display: flex;
        justify-content: space-between; }
      .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt .arabic button {
        padding: 5px 20px;
        border: 1.5px solid #0d77ac;
        border-radius: 10px;
        background: none;
        min-width: 96px; }
      .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt .arabic i {
        color: gold;
        font-size: 20px; }
      .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt p {
        margin-top: 80px;
        width: 45%;
        text-align: justify;
        font-size: 1.1vw;
        line-height: 40px; }
        @media (max-width: 700px) {
          .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt p {
            margin-top: 10px;
            width: 100%;
            text-align: center;
            font-size: 2.1vw; } }
      .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt--ContactUs {
        margin-top: 20px; }
        @media (max-width: 700px) {
          .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt--ContactUs {
            margin-top: 0px; } }
        .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt--ContactUs h1 {
          color: #0d77ac; }
        .HeroFooter .HeroFooter_footer .HeroFooter_footerContnt--ContactUs h3 {
          color: #3fc24a; }

.line {
  padding-top: 2em;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }
  .line__bigcercle {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #96c5dc;
    border-radius: 50%;
    display: flex;
    align-items: center; }
  .line__smallcercle {
    width: 15px;
    height: 15px;
    background-color: #96C5DC;
    border-radius: 50%;
    margin: 0 auto; }
  .line .active {
    background-color: gold; }

.preamb {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #96C5DC;
  border-radius: 10px; }
  .preamb__title {
    font-size: 1.5em;
    color: #0d77ac; }
  .preamb__info {
    max-width: 95%;
    margin: auto;
    margin-bottom: 1em; }
    .preamb__info--seco {
      padding-top: .7em;
      max-width: 95%;
      margin: auto; }
  .preamb__line {
    border-bottom: 3px solid gold;
    width: 40%;
    margin: auto; }

.startb {
  text-align: center;
  margin: 1em; }
  .startb__btn {
    background: url("../../../Design/Assets/png/btn.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 15em;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 2em;
    cursor: pointer; }

.questions {
  padding: 30px; }
  .questions .question_1 {
    width: 60%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    color: white; }
  .questions .input_Q {
    display: flex;
    justify-content: center;
    align-items: center; }
    .questions .input_Q input {
      width: 20%;
      height: 40px;
      border: 2px solid white;
      border-radius: 10px;
      text-align: center;
      font-size: x-large; }

/*
.radio_G {
  width: 40%;
  margin: auto; }
  .radio_G .option {
    position: relative; }
    .radio_G .option input {
      display: none; }
    .radio_G .option label {
      font-size: 20px;
      cursor: pointer;
      color: white;
      margin-left: 20px; }
  .radio_G .option label::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border: 4px solid #1078ad;
    border-radius: 50%;
    left: -22px;
    top: 2px; }
  .radio_G .option label::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-color: gold;
    border-radius: 50%;
    left: -14px;
    top: 10.5px;
    opacity: 0; }
  .radio_G .option input:checked ~ label::before {
    opacity: 1; }
*/

.consei {
  width: 50%;
  padding: 20px;
  text-align: center;
  background-color: gold;
  border-radius: 10px;
  margin: auto; }

.btns {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 50px; }
  .btns .btn-return button,
  .btns .btn_next button {
    background-color: white;
    border-radius: 10px;
    padding: 0 .8em;
    color: red; }
  .btns .return {
    opacity: 0; }
.banner_foot
{
  background: url("pic/Rectangle\ 1096.png");
  height: 50px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: 50px;
}
.fix
{
    margin-left: 90px;
}
.fix_1
{
    margin-right: 56px;
}
.fix_2
{
    margin-right: 59px;
}
.fix_3
{
    margin-right: 59px;
}